.wbdv-hidden {
    display: none;
}

.wbdv-padding{
    padding: 10px;
}

.wbdv-body{
    background-color: lightgray;
}

.table tr{
    border:  black solid 1px;
}

.table th{
    border:  black solid 1px;
}

.wbdv-search:hover {
    cursor: pointer;
    color: cornflowerblue;
}

.wbdv-create:hover {
    cursor: pointer;
    color: cornflowerblue;
}

.wbdv-update:hover {
    cursor: pointer;
    color: cornflowerblue;
}

.wbdv-remove:hover {
    cursor: pointer;
    color: cornflowerblue;
}

.wbdv-edit:hover {
    cursor: pointer;
    color: cornflowerblue;
}